.mainContainer{
  margin: 90px;
  text-align: center;
}

.iconDelete{
  float: right !important;
  cursor: pointer;
}

.note{
  display: inline-block !important;
  margin-left: 60px !important;
  background-color: #ffbe76 !important;
}

.segments{
  background-color: #eaeff1 !important;
  padding-top: 100px;
  padding-bottom: 100px;
}

body{
  background-color: #2d3436 !important;
}

.editButton{
  margin-left: 20px !important;
  color: white !important;
  background-color: #2d3436 !important;
}